client/src/wsdl/CircleFunctionsService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3-b02-. -->
<definitions targetNamespace="http://services.jws.github.com/" name="CircleFunctionsService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://services.jws.github.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://services.jws.github.com/" schemaLocation="CircleFunctionsService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="getArea">
    <part name="parameters" element="tns:getArea"/>
  </message>
  <message name="getAreaResponse">
    <part name="parameters" element="tns:getAreaResponse"/>
  </message>
  <message name="getCircumference">
    <part name="parameters" element="tns:getCircumference"/>
  </message>
  <message name="getCircumferenceResponse">
    <part name="parameters" element="tns:getCircumferenceResponse"/>
  </message>
  <message name="getCircle">
    <part name="parameters" element="tns:getCircle"/>
  </message>
  <message name="getCircleResponse">
    <part name="parameters" element="tns:getCircleResponse"/>
  </message>
  <portType name="CircleFunctions">
    <operation name="getArea">
      <input message="tns:getArea"/>
      <output message="tns:getAreaResponse"/>
    </operation>
    <operation name="getCircumference">
      <input message="tns:getCircumference"/>
      <output message="tns:getCircumferenceResponse"/>
    </operation>
    <operation name="getCircle">
      <input message="tns:getCircle"/>
      <output message="tns:getCircleResponse"/>
    </operation>
  </portType>
  <binding name="CircleFunctionsPortBinding" type="tns:CircleFunctions">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="getArea">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getCircumference">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getCircle">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="CircleFunctionsService">
    <port name="CircleFunctionsPort" binding="tns:CircleFunctionsPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

